:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

/*Typographies*/
h1,h2,h3,p {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}

h1 {
    font-size: 2rem;
    padding-top: 1em;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
P {
    font-size: 18px;
    font-weight: 400;
    color: var(--grayish-blue);
    max-width: 700px;
    line-height: 1.6;
    padding-top: 10px;
}

/*Layout*/
.hero {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container, .section {
    border: 3px solid red;
    margin-top: 120px;
    max-width: 1440px;
    text-align: center;
}



.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1.5em;
}

.section {

}